.cta {
  padding: 3rem 0;
  text-align: center;
  background-color: white;;

  &__text {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 2.5rem;
    letter-spacing: 1.2px;

    @media only screen and (max-width: $breakPoint-small) {
      font-size: 1.5rem;
    }
  }

  &__btn {
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 1.5rem;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: white;
    letter-spacing: 1.2px;
    cursor: pointer;

    @media only screen and (max-width: $breakPoint-small) {
      font-size: 1.2rem;
    }
    
    position: relative;
    overflow: hidden;

    & > * {
      display: inline-block;
      transition: all .4s;
      height: 100%;
      width: 100%;
    }
  }


  &__show {
    padding: 2rem 7rem;

    @media only screen and (max-width: $breakPoint-small) {
      font-size: 1.5rem 5.5rem;
    }
  }

  &__no-show {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0;

    @media only screen and (max-width: $breakPoint-small) {
      font-size: 1.5rem 0;
    }
  }

  &__btn:hover {
    animation: pulsate 1s infinite;
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
  }

  &__btn:hover &__show {
    transform: translateY(100%);
  }

  &__btn:hover &__no-show {
    top: 0;
  }

  &__btn:active {
    outline: none;
  }

}